.App {
  text-align: center;
}

// Universal Table Stylings
.matchTable,
.wrestlerList {
  margin: 0 auto;
  thead {
    font-weight: bold;
  }
  tbody {
    tr {
      background: #fff;

      td {
        padding: 5px;
        a {
          text-decoration: none;
          color: #222;

          &:hover {
            color: #555;
          }
        }
      }
    }
    tr:nth-child(even) {
      background: #eee;
    }
  }
}

// Universal Form Styles
form {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin: 0 auto;
  .inputGroup {
    margin: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
    label {
      justify-self: end;
      margin-right: 10px;
    }
  }
  .save {
    margin-top: 15px;
    width: 50%;
    justify-self: center;
  }
}

/*-----Home-----*/
#home {
  h1 {
    margin-bottom: 5px;
  }
}

/*-----Wrestler List-----*/
#wrestlerList {
  .filterLink {
    cursor: pointer;
  }
}

/*-----Wrestler Container-----*/
#wrestlerContainer {
  img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
}
