@font-face {
  font-family: "Wrestlemania";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Wrestlemania.ttf");
}

.App {
  text-align: center;
}

// Universal Table Stylings
.matchTable,
.wrestlerList {
  margin: 0 auto;
  thead {
    font-weight: bold;
  }
  tbody {
    tr {
      background: #fff;

      td {
        padding: 5px;
        a {
          text-decoration: none;
          color: #222;

          &:hover {
            color: #555;
          }
        }
      }
    }
    tr:nth-child(even) {
      background: #eee;
    }
  }
}

// Universal Form Styles
form {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin: 0 auto;
  .inputGroup {
    margin: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
    label {
      justify-self: end;
      margin-right: 10px;
    }
  }
  .save {
    margin-top: 15px;
    width: 50%;
    justify-self: center;
  }
}

/*-----Navbar-----*/
nav {
  .navLogoContainer {
    width: 50%;
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  ul {
    margin-top: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    li {
      display: inline;
      a {
        text-decoration: none;
      }
    }
  }
}

/*-----Home-----*/
#home {
  h1 {
    margin-bottom: 5px;
  }
}

/*-----Wrestler List-----*/
#wrestlerList {
  .filterLink {
    cursor: pointer;
  }
}

/*-----Wrestler Container-----*/
#wrestlerContainer {
  img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
}

/*-----Wrestler Box-----*/
.wrestlerBox {
  a {
    text-decoration: none;
    color: #222;
  }
  img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
